@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
 "primary":("base":#409eff),
"success":("base":#31bf00),
"warning":("base":#f3c263),
"danger":("base":#e52f2f),
"info":("base":#8055ff),
    )
);